* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: verdana;
    background-size: 100vh;
  }

  /* Position text in the middle of the page/image */

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  

  .bg-image{
    background-image: url("/image/matrix.gif");
    background-size: 100vh;
    height: 100vh;

    filter: blur(4px);
  
    
  /* Center and scale the image nicely */
    background-position: center;
    
    background-size: cover;
  
  }
  
  .menu {
    background-color: white;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: teal;
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration:underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: whitesmoke;
  }
  
  