  body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url("https://i.pinimg.com/originals/0c/a0/dd/0ca0ddd9bf8dfee8a2c26227bf21f6b8.gif");
    background-size: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(3px);
  }
  
  .menu {
    background-color: white;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: teal;
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration:underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: whitesmoke;
  }
  
  